body,
background-color #f6f6f6 {
    margin: 0
}

.box {
    background-color: #f6f6f6;
    border: 1px solid #d6d6d6;
    width: 320px;
    border-radius: 8px;
}


.navbar {
    background-color: #199319; 
    padding: 10px;

}

.btn-register {
 
  background-color: #199319; /*color del boton*/  
  color: white;/*color de la letra del boton*/
  padding: 8px 7px;
  text-decoration: none;
  margin-right: 10px;
  border-radius:10px;
}

.btn-register:hover {    
    color: blue;/*color hace referencia a la letra por deafult*/
    background-color: #f6f68f;
}

.btn-login {
 
    background-color: #199319; /*color del boton*/  
    color: white;/*color de la letra del boton*/
    padding: 8px 7px; /*tamaño del boton*/
    text-decoration: none;
    margin-right: 10px;
    border-radius:10px;
  }
  

  .btn-login:hover {     /*cuando se coloca el cursor encima del boton*/
      color: blue;/*color hace referencia a la letra por deafult*/
      background-color: #f6f68f;
  }

/*primer boton para redireccionamiento de pagina*/
/*
.btn {
    tamaño boton
    padding: 5px;
    espaciado entre botones,margen
    margin-right: 20px;
}
*/

/*registro prueba*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.body-registro{
    background: url('/static/img/registro.jpg');
}

.btn-pagina {
 
    background-color: #199319; /*color del boton*/  
    color: white;/*color de la letra del boton*/
    padding: 8px 7px;
    text-decoration: none;
    margin-right: 10px;
    border-radius:10px;
  }
  
  .btn-pagina:hover {    
      color: blue;/*color hace referencia a la letra por deafult*/
      background-color: #f6f68f;
  }


  .form-register {
    width: 600px;
    background: #199319;
    padding: 30px;
    margin: auto;
    margin-top: 90px; /*margen superior*/
    border-radius: 10px;
   /* font-family: 'calibri'; */
    color: white;
    box-shadow: 7px 13px 37px #3f47cc; /*efecto de sombreado sobre el form*/
  }

.input {
    width:300px;
    margin-top: 20px ;
    padding: 9px;
    border-radius: 5px;
    margin-right: 10px;
}

.input-1 {
    width:300px;
    margin-top: 20px ;
    padding: 9px;
    border-radius: 5px;
    margin-left: 50px;
}

.input-2 {
    width:300px;
    margin-top: 20px ;
    padding: 9px;
    border-radius: 5px;
    margin-left: 18px;
}

.formatoTexto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin-left: 20px ;
}

.selection {
    border-radius: 10px;
    padding: 7px;
    margin-top: 15px;
}

.btn-registro {
 
    margin-top: 20px ;
    margin-left: 80px;
    background-color: #96c796; /*color del boton de registro*/  
    color: white;/*color de la letra del boton de registro*/
    padding: 8px 7px;
    text-decoration: none;
    border-radius:10px;
    
  }

.btn-registro:hover {    
    color: blue;/*color hace referencia a la letra por deafult*/
    background-color: #f6f68f /*color cuando se pasa el cursor por el boton*/;
}

.bug{
    background-color: #0065CB;
}

.ride{
    background-color: #199319;
}

/*login*/

.body-login {
    background: url('/static/img/login.jpg');
}

.btn-pagina-inicio {
 
    background-color: #199319; /*color del boton*/  
    color: white;/*color de la letra del boton*/
    padding: 8px 7px;
    text-decoration: none;
    margin-right: 10px;
    border-radius:10px;
  }
  
  .btn-pagina-inicio:hover {    
      color: blue;/*color hace referencia a la letra por deafult*/
      background-color: #f6f68f;
  }

  .btn-registro-datos{
 
    background-color: #199319; /*color del boton*/  
    color: white;/*color de la letra del boton*/
    padding: 8px 7px;
    text-decoration: none;
    margin-right: 10px;
    border-radius:10px;
  }
  
  .btn-registro-datos:hover {    
      color: blue;/*color hace referencia a la letra por deafult*/
      background-color: #f6f68f;
  }
  /*dashboard*/


  .table-container {
    width: 100%; /* Ajusta al ancho del contenedor padre */
    max-height: 700px; /* Altura fija para la tabla */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido es mayor */
    border: 1px solid #ddd; /* Borde para la tabla */
    border-radius: 4px; /* Esquinas redondeadas opcional */
}

.fixed-table {
    width: 100%;
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
}

.fixed-table th,
.fixed-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

.fixed-table thead th {
    background-color: #85b674; /* Color de fondo para las cabeceras */
}

a{
color: black;
}

a:hover{
color: red;
}

a:active{
color: blue;
}

/*para ver desabilitados los campos que no se pueden editar*/
.readonly-like-disabled {
    background-color: #e9ecef; /* Color de fondo similar a los campos deshabilitados */
    cursor: not-allowed; /* Cambia el cursor para indicar que el campo no es editable */
    color: #6c757d; /* Color del texto similar al de los campos deshabilitados */
    border-color: #ced4da; /* Color del borde similar al de los campos deshabilitados */
}

.producto-row-template {

}   

/* Estilos para el botón con el ID "addProductButton" */
#addProductButton {
    background-color: #2855a7; /* Color de fondo verde (o el color que prefieras) */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    /*justify-content: flex-end; /* Alinea el contenido hacia la derecha */
    justify-content: flex-start;
}


#addProductButton:hover {
    background-color: #218838; /* Color de fondo cuando se pasa el ratón (efecto hover) */
}
